extends layout

block content
  h1= '打工人今天去工地还顺利吗?'
  table.highlight.centered
    thead
      tr
        th='轨道交通'
        th='状态'
    tbody
      each val, index in data
        tr
          td=val.name + '号线'
          td=val.status
