extends layout

block content
  h1= '上海地铁运行状态 @ ' + date
  table.highlight.centered
    thead
      tr
        th='轨道交通'
        th='状态'
    tbody
      each val, index in data
        tr
          td=val.name + '号线'
          td=val.status
  ul
    each val, index in data
      li= '轨道交通' + val.name + '号线 => ' + val.status
